<div id="ajax">
    <section class="show">
        <p> <%= email.email %> </p>
        <p> <%= email.comment %> </p>

        <div class="links">
            <%= link_to 'edit', edit_email_path(email), remote: true %>
            <%= link_to 'delete', email, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "delete" %>
        </div>
    </section>
</div>